<div class="jumbotron">
        <div class="container">
        <h1>Proyectos</h1>
        <p>Para visualizar nustros proyectos previamente registrados presiona el boton</p>
<<<<<<< HEAD
        <p><a class="btn btn-primary btn-lg" href="https://fasesproyect.herokuapp.com/pins" role="button">Comenzar</a></p>
=======
        <p><a class="btn btn-primary btn-lg" href="<%=pins_path %>" role="button">Comenzar</a></p>
>>>>>>> master
      </div>
</div>