<div class="jumbotron">
        <div class="container">
        <h1>Proyectos</h1>
        <p>Para visualizar nuestros proyectos previamente registrados presiona el boton</p>
          
        <p><a class="btn btn-primary btn-lg" href="<%=pins_path %>" role="button">Comenzar</a></p>
      </div>
</div>