<div class="jumbotron">
        <div class="container" style="text-align: center; color: red;">
        <h1>Proyectos</h1>
        <p>Para visualizar nuestros proyectos previamente registrados solo debes presionar el botón, para crear nuevos proyectos y fases debes registrarte.</p>
          
        <p><a class="btn btn-success btn-lg" href="<%=new_user_registration_path%>" role="button">Comenzar</a></p>
      </div>
</div>