<div class="row" style="padding-left: 300px">
    <div class="col-md-8">
        <div class="container" style="text-align: center;">
            <h1>Agregar nueva Fase</h1>

            <%= render 'form', fase: @fase %>

            <%= link_to 'Atras', fases_path %>
        </div>
    </div>
</div>
